.btn-block {
    width:  120px;
    height: 50px;
    text-align: center;
    margin: 16px auto;
    background-color: #8758FF;
    border-radius: 25px;
}

.btn-block a {
    display: block;
}

.btn {
    width: 100%;
    color: #F2F2F2;
    text-decoration: none;
    display: block;
    padding: 12.5px 0px;
}
